# Ignore all virtual envs
/env/

/venv/

# Ignore cache files
__pyache__/
*.py[cod]

# Ignore any database files
*.sqlite3

# Ignore compiled code
*.pyc

# Ignore log files
*.log

# Ignore Docker files
*.env

# Ignore vs code stuff
.vscode/

/staticfiles/

wait-for-db.sh
wait-for-backend.sh