annotated-types==0.7.0
asgiref==3.8.1
asn1crypto==1.5.1
astroid==2.12.12
atpublic==5.0
cachelib==0.13.0
certifi==2023.7.22
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.6
cramjam==2.5.0
cryptography==36.0.2
cycler==0.11.0
dataiku-api-client==9.0.1
dill==0.3.6
dj-rest-auth==7.0.0
Django==4.2.16
django-allauth==65.1.0
django-environ==0.11.2
django-formtools==2.5.1
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-sslserver==0.22
django-two-factor-auth==1.17.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.2.1
et-xmlfile==1.1.0
Faker==13.15.0
fastparquet==0.8.1
filelock==3.16.1
Flask==2.1.2
flask-blueprint==1.3.0
Flask-Login==0.6.1
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
fonttools==4.33.3
fsspec==2022.5.0
greenlet==1.1.2
idna==3.3
importlib_metadata==8.5.0
is-disposable-email==1.0.0
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.2
lazy-object-proxy==1.8.0
MarkupSafe==2.1.1
matplotlib==3.5.2
mccabe==0.7.0
numpy==1.22.4
oauthlib==2.1.0
openpyxl==3.0.10
oscrypto==1.3.0
packaging==21.3
pandas==1.4.2
phonenumbers==8.13.49
pillow==10.4.0
pip-check-reqs==2.5.3
platformdirs==4.3.6
plotly==5.0.0
pyarrow==14.0.1
pycparser==2.21
pycryptodomex==3.14.1
pydantic==2.9.2
pydantic_core==2.23.4
PyJWT==2.3.0
pylint==2.15.5
pyOpenSSL==21.0.0
pyparsing==3.0.9
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.1
PyYAML==6.0
qrcode==7.4.2
requests==2.27.1
requests-oauthlib==1.1.0
six==1.16.0
snowflake==1.0.0
snowflake-connector-python==3.12.3
snowflake-sqlalchemy==1.6.1
snowflake._legacy==1.0.0
snowflake.core==1.0.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.36
sqlparse==0.5.1
tenacity==9.0.0
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
Werkzeug==2.1.2
wrapt==1.14.1
WTForms==3.0.1
wtforms-validators==1.0.0
XlsxWriter==3.0.3
zipp==3.20.2
channels==4.2.0
channels-redis==4.2.1
django-cors-headers==4.6.0
uvicorn==0.32.0
psycopg2-binary>=2.9
celery
django-celery-beat
django-celery-results
websockets