<div id="addFriendsSection" style="height: -webkit-fill-available;" class="p-4">
	<h5 class="text-light" style="font-weight: 600;">ADD FRIEND</h5>
	<p  style="color: rgb(182, 172, 172);"> You can add friends with thier usernames.</p>
	<div class="mb-3">
		<div class="input-group d-flex gap-2" style="width: 700px;">
		  <input type="text" class="form-control bg-dark text-light border-0 rounded-3 shadow-sm" id="sendFriendRequestInput" placeholder="Enter username">
		  <button class="btn btn-primary rounded-3" style="background-color: var(--bs-indigo);" type="button" id="sendFriendRequestButton">Send Friend Request</button>
		</div>
	  </div>
</div>