<div id="friends-page" class="bg-dark px-0" style="
height: -webkit-fill-available;
display: flex;
flex-direction: column;
">
  <nav class="navbar navbar-expand-lg px-0" style="background-color: #36393f">
    <div
      class="container-fluid d-flex align-items-center justify-content-start"
    >
      <span class="navbar-brand text-light me-2">Friends</span>
      <div class="mx-2" style="width: 2px; height: 30px"></div>
      <ul class="navbar-nav d-flex flex-row gap-2 align-items-center">
        <li class="nav-item bg-active-tab">
          <a
            class="nav-link active  rounded-3 text-light px-3"
            id="onlineFriends-link"
            href="#"
          >
            Online
          </a>
        </li>
        <li class="nav-item ">
          <a
            class="nav-link rounded-3 text-light px-3 "
            id="allFriends-link"
            href="#"
          >
            All
          </a>
        </li>
        <li class="nav-item ">
          <a
            class="nav-link rounded-3 text-light px-3"
            id="pendingFriends-link"
            href="#"
          >
            Pending
          </a>
        </li>
        <li class="nav-item ">
          <a
            class="nav-link rounded-3 text-light px-3"
            id="suggestionFriends-link"
            href="#"
          >
            Suggestions
          </a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <button id="addFriendLink" style="border-radius: 5px; background-color: green; color: white; border: none; padding: 5px 20px;">Add Friend</button>
        </li>
      </ul>
      
    </div>
  </nav>
  <div id="friends-page-main" style="background-color: #36393f; height: 100%;">
    fff
  </div>
</div>
