<div id="friends-page" class="bg-dark d-flex flex-column align-items-center" style="height: 100%; background-color: #121212; min-height: 100vh;">
  <!-- Navigation -->

  <div id="main-friends" class="bg-dark d-flex flex-column" style="height: 100%; background-color: #121212; width: 90%; max-height: 700px;">
      <nav class="navbar navbar-expand-lg px-0 neon-box" style="background-color: #1e1e1e;">
        <div class="container-fluid d-flex align-items-center justify-content-start" style="padding-left: 15px;">
            <span class="navbar-brand text-neon-blue me-2">Friends</span>
            <div class="mx-2" style="width: 2px; height: 30px; background-color: grey;"></div>
            <ul class="navbar-nav d-flex flex-row gap-2 align-items-center">
                <li class="nav-item">
                    <a class="nav-link rounded-3 text-light px-3 text-neon-blue" id="onlineFriends-link" href="#">
                        Online
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-3 text-light px-3 text-neon-blue" id="allFriends-link" href="#">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-3 text-light px-3 text-neon-blue" id="pendingFriends-link" href="#">
                        Pending
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link rounded-3 text-light px-3 text-neon-blue" id="suggestedFriends-link" href="#">
                        Suggestions
                    </a>
                </li>
                <li class="nav-item">
                    <button id="addFriend-link" class="btn neon-btn-green px-3 py-2">
                        Add Friend
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Section -->
    <div id="friends-page-main" class="p-4 neon-box" style="flex-grow: 1; background-color: #1e1e1e; overflow-y: scroll;">
        <!-- Content dynamically loaded -->
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center align-items-center" id="links-tab" style="width: 100%; margin-top: 40px;">    <div class="navigation">
        <div id="lobby-link" class="nav-card  lobby">
            <h3>Lobby</h3>
            <p>Explore active games and events.</p>
        </div>
        <div id="profile-link" class="nav-card  profile">
            <h3>Profile</h3>
            <p>Manage your stats and settings.</p>
        </div>
        <div id="friends-link" class="nav-card  friends">
            <h3>Friends</h3>
            <p>Connect and chat with friends.</p>
        </div>
    </div>
  </div>

</div>
