<div id="friends-page" class="bg-dark px-0">
  <nav class="navbar navbar-expand-lg px-0" style="background-color: #36393f">
    <div
      class="container-fluid d-flex align-items-center justify-content-start"
    >
      <span class="navbar-brand text-light me-2">Friends</span>
      <div class="mx-2 bg-active-tab" style="width: 2px; height: 30px"></div>
      <ul class="navbar-nav d-flex flex-row gap-2">
        <li class="nav-item">
          <a
            class="nav-link active bg-active-tab rounded-3 text-light px-3"
            id="profile-link"
            href="#"
          >
            Online
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link rounded-3 text-light px-3"
            style="background-color: #36393f"
            id="friends-link"
            href="#"
          >
            All
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link rounded-3 text-light px-3"
            style="background-color: #36393f"
            id="friends-link"
            href="#"
          >
            Pending
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link rounded-3 text-light px-3"
            style="background-color: #36393f"
            id="friends-link"
            href="#"
          >
            Suggestions
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
