<div id="homePage" class="container-fluid px-0">
  <div class="row h-100">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar p-0"  style="border-right: 2px solid #00e7ff; box-shadow: 1px 0px 20px #00e7ff; z-index: 1;">
      <div class="position-sticky pt-3 px-2">
        <ul class="nav flex-column">

            <li class="nav-item bg-active-tab rounded-3 p-1">
            <a class="nav-link text-light" id="lobby-link" href="#">Lobby</a>
          </li>

          <li class="nav-item bbg-dark rounded-3 p-1">
            <a class="nav-link active text-light" id="profile-link" href="#"
              >Profile</a
            >
          </li>
          <li class="nav-item bg-dark rounded-3 p-1">
            <a class="nav-link text-light" id="friends-link" href="#"
              >Friends</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <div id="home-display" class="col-md-6 flex col-lg-8 px-0">



    </div>

    <div id="live-feeds" class="col-md-3 col-lg-2 overflow-auto" style="height: 100vh;border-left: 2px solid #FF6EC7; box-shadow: -1px 0px 20px #FF6EC7; z-index: 1; background-color: azure; padding: 0;">
      <h5 class="mb-4 p-3 bg-dark text-center text-light">Live Feeds</h5>
      
    </div>
  </div>
</div>
