<div id="homePage" class="container-fluid px-0">
  <div class="row h-100">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar p-0">
      <div class="position-sticky pt-3 px-2">
        <ul class="nav flex-column">

            <li class="nav-item bg-active-tab rounded-3 p-1">
            <a class="nav-link text-light" id="lobby-link" href="#">Lobby</a>
          </li>

          <li class="nav-item bbg-dark rounded-3 p-1">
            <a class="nav-link active text-light" id="profile-link" href="#"
              >Profile</a
            >
          </li>
          <li class="nav-item bg-dark rounded-3 p-1">
            <a class="nav-link text-light" id="friends-link" href="#"
              >Friends</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main Content -->
    <div id="home-display" class="col-md-6 flex col-lg-8 px-0">



    </div>

    <div id="live-feeds" class="col-md-3 col-lg-2 bg-light p-3 overflow-auto" style="height: 100vh;">
      <h5 class="mb-4">Live Feeds</h5>
      
    </div>
  </div>
</div>
