<div id="lobby-page" class=" p-4" style="height: 100%; display: flex; flex-direction: column; background-color: #36393f">
	
	<div class="col-md-6 col-lg-8 px-0 d-flex justify-content-center align-items-start" style="width: 80%; margin: 0 auto;">
		<img src="./assets/home_bg.webp" 
		class="img-fluid rounded" 
		style="width: 100%; height: 350px; margin-top: 20px; border-radius: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8); object-fit: cover; object-position: top">
	</div>

<div class="d-flex justify-content-between align-items-center mt-4" style="width: 80%; margin: 0 auto;">
    <div id="stats-carousel" class="d-flex justify-content-start align-items-center ">
        <div id="stats-container" class="carousel-content glowing-container">
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center flex-column" style="width: 50%;">
		<div id="rank-carousel" class="d-flex justify-content-end align-items-center" 
		style="width: 80%; height: 100%; max-width: 500px;">
			<div id="rank-container" class=" d-flex flex-row align-items-center glowing-container" style="width: 100%; z-index: 1">
			</div>
		</div>
		<div class="d-flex align-items-center justify-content-center flex-row" style="width: 80%">
			<button id="tournamentButton" class="fs-5 btn btn-primary d-flex align-items-center justify-content-center flex-column"
				style="margin: 5px; padding: 10px 20px; font-size: 1rem; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); background-color: rgb(255, 200, 0); width: 50%; height: 100%; min-height: 250px">
				<img src="assets/trophy.png" alt="Cup" style="width: 45px; height: 45px; margin-right: 10px;">
				Join Tournament
			</button>

			<div class="d-flex flex-column" style="width: 50%;">
				<button id="connectButton" class="btn btn-primary fs-5" 
				style="margin: 5px; padding: 10px 20px; font-size: 1rem; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); width: 100%; height: 100%; min-height: 125px;">
					Connect to Game
				</button>
				<button id="localButton" class="btn btn-primary fs-5" 
				style="margin: 5px; padding: 10px 20px; font-size: 1rem; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); width: 100%; height: 100%; min-height: 125px;">
					Play Locally
				</button>
			</div>
		</div>

    </div>
</div>

	
</div>
