<div
  class="d-flex justify-content-center align-items-center min-vh-100 w-100 login_page"
>
  <div class="loginBox">
    <img
      class="user"
      src="./assets/login_avatar.png"
      height="100px"
      width="100px"
    />
    <h3>Sign in</h3>
    <form id="signinForm" action="" method="post">
      <div class="inputBox">
        <input id="signinusername" type="text" name="Username" placeholder="Username or Email-address" />
        <input
          id="signinPassword"
          type="password"
          name="Password"
          placeholder="Password"
        />
      </div>
      <input type="submit" name="" value="Login" />
    </form>
    <div class="text-center">
      <p class="text-white-50">Don't have an account?</p>
      <a href="#signup" style="color: #59238f">Sign-Up</a>
    </div>
  </div>

  <div id="fa-popup" class="popup hidden">
    <div class="popup-content">
        <h2>Two-Factor Authentication</h2>
        <p>Please enter the 6-digit code sent to your email.</p>
        <form id="2fa-form">
            <input 
                type="text" 
                id="2fa-code" 
                name="2fa-code" 
                maxlength="6" 
                placeholder="Enter 2FA Code" 
                required
            />
        <button type="submit" id="submit-2fa-btn">Verify</button>
        </form>
    </div>
  </div>
</div>
