<div
  class="d-flex justify-content-center align-items-center min-vh-100 w-100 login_page"
>
  <div class="loginBox">
    <img
      class="user"
      src="./assets/login_avatar.png"
      height="100px"
      width="100px"
    />
    <h3>Sign up</h3>
    <form id="signupForm" action="" method="post">
      <div class="inputBox">
        <input id="registerUserName" type="text" name="Username" placeholder="Username" />
        <input
          id="registerDisplayName"
          type="text"
          name="DisplayName"
          placeholder="Display name"
        />

        <input
          id="registerEmail"
          type="email"
          name="Email"
          placeholder="Email-address"
        />
        <input
          id="registerPassword"
          type="password"
          name="Password"
          placeholder="Password"
        />
        <input
          id="registerPassword2"
          type="password"
          name="Password"
          placeholder="Confirm password"
        />
      </div>
      <input type="submit" name="" value="Sign-Up" />
    </form>
    <div class="text-center">
      <p class="text-white-50">already have an account ?</p>
      <a href="#login" style="color: #59238f">Sign In</a>
    </div>
  </div>
</div>
