{% extends "base_generic.html" %}
{% load static %}
{% block content %}

    <h2>{{ user.display_name }}'s Profile</h2>

    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="Profile Image">
    {% else %}
        <img src="{% static 'assets/avatars/default.jpg' %}" alt="Default Profile Image">
    {% endif %}

    <p>Email: {{ user.email }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Bio: {{ user.bio }}</p>
    <p>Wins: {{ user.wins }}</p>
    <p>Losses: {{ user.losses }}</p>
    <p>Win/Loss Ratio: {{ user.win_loss_ratio }}</p>

    {% if editable %}
        <h3>Edit Your Profile</h3>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    {% endif %}

{% endblock %}