body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#homePage {
  height: 100vh; 
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}


.sidebar {
  height: 100%; /* Full height for sidebar */
}

.bg-active-tab {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn {
  border: none !important;
  outline: none !important;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  height: 48px;
}

.btn:active {
  transform: scale(0.95); 
  box-shadow: none; 
}

.btn:hover,
.btn:focus {
  box-shadow: none; 
}


#suggested-friends-container, #pending-friends-container, #all-friends-container, #online-friends-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 900px;
  margin-top: 30px;
}

.friend-suggestion, .pending-friend, .all-friend, .online-friend  {
  display: flex;
  align-items: center;
  align-items: "center";
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9d7;
}


.friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.friend-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friend-info > p {
  margin: 0;
}

.friend-displayname {
  font-weight: bold;
  margin-bottom: 5px;
}

.friend-username {
  font-size: 0.9em;
  color: #555;
}

.btn {
  min-width: 100px;
}
.add-friend-btn {
  margin-left: auto;
  padding: 5px 10px;
 
}

.cancel-friend-btn {
  margin-left: auto;
}


.stats {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.percentage-text {
  position: absolute;
 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.progress-title {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.tooltip {
  font-size: 14px;
}

#profile-status-indicator {
  cursor: pointer;
  border: 2px solid white; /* To create a clean border around the circle */
}
/* Styling for the arrow buttons */
.arrow-btn {
  padding: 0;
  font-size: 3rem; /* Make the arrows larger */
  border: none; /* Remove the border */
  background: transparent; /* Remove the background */
  color: white; /* Set arrow color */
  cursor: pointer;
  outline: none; /* Remove focus outline */
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Add smooth transitions */
}

.arrow-btn:hover {
  color: #000; /* Darker color on hover */
  transform: scale(1.2); /* Slightly enlarge the arrow on hover */
}

.arrow-btn:active {
  transform: scale(1.1); /* Subtle click effect */
}

/* Optional: Center carousel content */
.carousel-content {
  max-width: 300px;
  min-height: 400px;
  background-color: white;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#stats-container {
margin: 20px 0;
padding: 10px;
border: 1px solid #ccc;
border-radius: 10px;
background-color: #f9f9f9;
text-align: left;
}

.stat-item {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5;
}
